.time{
    margin: auto;
    width: auto;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.date{
    margin: auto;
    text-align: center;
}

.container{
    justify-items: center;
}
